.venv*
*.db
*.cpython-312.pyc
*png
*exe
lo.txt
ignore/*
app.log*
toolbox/Everythingsearch/Everything.ini
main_window2-*
*.ini
*copy.py
*ignore*
media/*
userdata/file-icon-type/extensions_collection.json
test/*
0*